{% load staticfiles %}
<script type="text/html" id="unit-template">
    <div id="unit-<%= id %>">
        <table>
            <tr>
                <td colspan="2"><h1>Unit <%= label %></h1></td>
            </tr>
            <tr>
                <td><strong>Penetration</strong></td>
                <td><%= penetration %></td>
            </tr>
            <tr>
                <td><strong>Type</strong></td>
                <td><%= type %></td>
            </tr>
            <tr>
                <td><strong>Brain region</strong></td>
                <td><%= area.name %></td>
            </tr>
        </table>
    </div>
    <form>
        <label for="binwidth">Bin width</label>
        <select id="binwidth">
            <option selected value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
        </select>
        <label for="kernelwidth">Gaussian width (ms)</label>
        <select id="kernelwidth">
            <option value="20">20</option>
            <option value="50">50</option>
            <option selected value="100">100</option>
            <option value="200">200</option>
        </select>
        <input id="align_event" type="hidden" value="start"/>
    </form>
    <div id="unit-<%= id %>-plots" style="float:left"><img src="{% static 'sensorimotordb/img/loading.gif' %}"></div>
    <div id="unit-<%= id %>-plots_legend" class="legend"></div>
</script>