{% load staticfiles %}
<script type="text/html" id="unit-template">
    <div id="unit-<%= id %>" class="<%= getTRTag(idx) %>">
        <table>
            <tr>
                <td colspan="2"><a href="/sensorimotordb/unit/<%= id %>/"><h<%= level %>>Penetration <%= penetration %>, Unit <%= label %></h<%= level %>></a></td>
            </tr>
            <tr>
                <td valign=top width="25%">
                    <table>
                        <tr>
                            <td valign=top><strong>Type</strong></td>
                            <td><%= type %></td>
                        </tr>
                        <tr>
                            <td valign=top><strong>Brain region</strong></td>
                            <td><div id="unit-area-<%= id %>"></div></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div id="unit-<%= id %>-plots" style="float:left"><img src="{% static 'sensorimotordb/img/loading.gif' %}"></div>
                    <div id="unit-<%= id %>-plots_legend" class="legend"></div>
                </td>
            </tr>

        </table>
    </div>
</script>