{% extends "base.html" %}
{% load staticfiles %}
{% block extrahead %}
<title>SensoriMotorDB - View Unit: {{ object.id }}</title>
<script type="text/javascript" src="{% static 'sensorimotordb/js/jquery-1.10.1.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/underscore-min.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/neural_data_functions.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/neural_data_plot.js' %}"></script>
<script>

    $(document).ready(function(){
        var data = {};
        var args = {
            type: "GET",
            url: "/sensorimotordb/api/v1/unit/{{ object.id }}/?limit=0&format=json",
            data: data,
            success: loadedUnitData,
            error: function(data) {
                //alert("Something went wrong!");
            } };
        $.ajax(args);
    });

    var unit_id={{ object.id }};
    var condition_ids=[];
    var condition_names=[];
    var condition_trials=new Map();
    var condition_trial_events=new Map();
    var realigned_condition_spikes=new Map();
    var realigned_condition_trial_events=new Map();
    var event_types=['start'];

    function loadedRecordingTrialData(resp)
    {
        // For each recording trial
        for(var trial_idx=0; trial_idx<resp.objects.length; trial_idx++)
        {
            var recording_trial=resp.objects[trial_idx];
            var trial_number=recording_trial.trial_number;
            var start_time=parseFloat(recording_trial.start_time);

            // Get condition ID
            var condition_id=parseInt(recording_trial.condition.split('/')[5]);
            if(condition_trials.get(condition_id).indexOf(recording_trial.id)<0)
            {
                // Iterate through unit recordings
                for(var unit_recording_idx=0; unit_recording_idx<recording_trial.unit_recordings.length; unit_recording_idx++)
                {
                    var unit_recording=recording_trial.unit_recordings[unit_recording_idx];
                    if(unit_recording.unit.id=={{ object.id }})
                    {
                        var trial_number=recording_trial.trial_number;
                        var start_time=parseFloat(recording_trial.start_time);
                        condition_trial_events.get(condition_id).push({
                            t: start_time,
                            trial: trial_number,
                            name: 'start',
                            description: 'trial start'
                        });

                        for(var evt_idx=0; evt_idx<recording_trial.events.length; evt_idx++)
                        {
                            var event=recording_trial.events[evt_idx];
                            condition_trial_events.get(condition_id).push({
                                t: parseFloat(event.time),
                                trial: trial_number,
                                name: event.name,
                                description: event.description
                            });
                            if(event_types.indexOf(event.name)<0)
                                event_types.push(event.name);
                        }

                        var trial_number=recording_trial.trial_number;
                        if(unit_recording.spike_times.length>0)
                        {
                            var spike_times=unit_recording.spike_times.split(',');
                            for(var spike_idx=0; spike_idx<spike_times.length; spike_idx++)
                            {
                                condition_trials.get(condition_id).push({
                                    x: parseFloat(spike_times[spike_idx]),
                                    y: trial_number
                                });
                            }
                        }
                    }
                    else
                        console.log('wtf');
                }
            }
        }

        var align_event = d3.select("#align_event").node().value;
        for(var i=0; i<condition_ids.length; i++)
        {
            var condition_id=condition_ids[i];
            var single_condition_trials=realign_spikes(condition_trials.get(condition_id), condition_trial_events.get(condition_id), align_event);
            var single_condition_trial_events=realign_events(condition_trial_events.get(condition_id), align_event);

            realigned_condition_spikes.set(condition_id, single_condition_trials);
            realigned_condition_trial_events.set(condition_id, single_condition_trial_events);

            $('#condition-'+condition_id+'-plots').empty();
            drawRaster(condition_id, 'condition-'+condition_id+'-plots', single_condition_trials, single_condition_trial_events, event_types);

            drawHistogram(condition_id, 'condition-'+condition_id+'-plots', single_condition_trials, single_condition_trial_events, event_types);

            drawFiringRate(condition_id, 'condition-'+condition_id+'-plots', single_condition_trials, single_condition_trial_events, event_types);
        }
        $('#unit-{{ object.id }}-plots').empty();
        drawPopulationFiringRate('unit-{{ object.id }}-plots', 'unit-{{ object.id }}-plots_legend', realigned_condition_spikes, realigned_condition_trial_events, event_types, condition_ids, condition_names, 1.0);
    }

    function loadedUnitData(resp){
        $('.unit_info').each(function(index, element){
            $(this).empty();
            var tmplMarkup = $('#unit-template').html();
            var compiledTmpl = _.template(tmplMarkup, resp);
            $(this).append(compiledTmpl);
        });
        d3.selectAll("#binwidth").on("change", function(){ dispatch.statechange()});
        d3.selectAll("#kernelwidth").on("change", function(){ dispatch.statechange()});
        dispatch.on("statechange", update);

        var data = {};
        var args = {
            type: "GET",
            url: "/sensorimotordb/api/v1/condition/?recording_trials__unit_recordings__unit={{ object.id }}&limit=0&format=json",
            data: data,
            success: loadedConditionData,
            error: function(data) {
                //alert("Something went wrong!");
            } };
        $.ajax(args);
    }

    function loadedConditionData(resp)
    {
        $('.condition_list').each(function(index, element){
            $(this).empty();
        });

        for(var cond_idx=0; cond_idx<resp.objects.length; cond_idx++)
        {
            var condition=resp.objects[cond_idx];
            condition_ids.push(condition.id);
            condition_trials.set(condition.id, []);
            condition_trial_events.set(condition.id, []);
            condition_names.push(condition.name);

            $('.condition_list').each(function(index, element){
                condition.level=3;
                condition.idx=condition_names.length-1;
                var tmplMarkup = $('#condition-template').html();
                var compiledTmpl = _.template(tmplMarkup, condition);
                $(this).append(compiledTmpl);
            });
        }
        var data = {};
        var args = {
            type: "GET",
            url: "/sensorimotordb/api/v1/full_recording_trial/?unit_recordings__unit={{ object.id }}&limit=0&format=json",
            data: data,
            success: loadedRecordingTrialData,
            error: function(data) {
                //alert("Something went wrong!");
            } };
        $.ajax(args);
    }

    function update()
    {
        var align_event = d3.select("#align_event").node().value;

        for(var i=0; i<condition_ids.length; i++)
        {
            var condition_id=condition_ids[i];
            realigned_condition_spikes.set(condition_id, realign_spikes(condition_trials.get(condition_id), condition_trial_events.get(condition_id), align_event));
            realigned_condition_trial_events.set(condition_id, realign_events(condition_trial_events.get(condition_id), align_event));
        }
        dispatch.realigned(realigned_condition_spikes, realigned_condition_trial_events);
    }

</script>
{% endblock %}
{% block content %}
    <div class="unit_info"></div>
    <h2 style="clear: both">Conditions</h2>
    <div class="condition_list"></div>
{% include "sensorimotordb/unit/unit_template.html" %}
{% include "sensorimotordb/condition/condition_list_item_template.html" %}
{% endblock %}