{% extends "base.html" %}
{% load staticfiles %}
{% block extrahead %}
<title>SensoriMotorDB - View Unit: {{ object.id }}</title>
<script type="text/javascript" src="{% static 'sensorimotordb/js/jquery-1.10.1.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/underscore-min.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/neural_data_functions.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/neural_data_plot.js' %}"></script>
<script>

    $(document).ready(function(){
        $('<img src="{% static 'sensorimotordb/img/loading.gif' %}"/>');
        var data = {};
        var args = {
            type: "GET",
            url: "/sensorimotordb/api/v1/condition/?recording_trials__unit_recordings__unit={{ object.id }}&limit=0&format=json",
            data: data,
            success: loadedConditionData,
            error: function(data) {
                //alert("Something went wrong!");
            } };
        $.ajax(args);
    });

    var unit_id={{ object.id }};
    var condition_ids=[];
    var condition_names=[];
    var condition_trials=new Map();
    var condition_trial_events=new Map();
    var conditions=new Map();
    var realigned_condition_spikes=new Map();
    var realigned_condition_trial_events=new Map();
    var event_types=['start'];
    var recording_trial_map=new Map();
    var condition_map=new Map();
    var condition_trial_map=new Map();

    function loadedConditionData(resp){
        for(var i=0; i<resp.objects.length; i++)
            condition_map.set(resp.objects[i].resource_uri, resp.objects[i]);

        var data = {};
        var args = {
            type: "GET",
            url: "/sensorimotordb/api/v1/recording_trial/?unit_recordings__unit={{ object.id }}&limit=0&format=json",
            data: data,
            success: loadedRecordingTrialData,
            error: function(data) {
                //alert("Something went wrong!");
            } };
        $.ajax(args);

    }
    function loadedRecordingTrialData(resp)
    {
        for(var i=0; i<resp.objects.length; i++)
            recording_trial_map.set(resp.objects[i].resource_uri, resp.objects[i]);
        var data = {};
        var args = {
            type: "GET",
            url: "/sensorimotordb/api/v1/unit/{{ object.id }}/?limit=0&format=json",
            data: data,
            success: loadedUnitData,
            error: function(data) {
                //alert("Something went wrong!");
            } };
        $.ajax(args);
    }

    function loadedUnitData(resp){
        $('.unit_info').each(function(index, element){
            $(this).empty();
            var tmplMarkup = $('#unit-template').html();
            var compiledTmpl = _.template(tmplMarkup, resp);
            $(this).append(compiledTmpl);
        });
        d3.selectAll("#binwidth").on("change", function(){ dispatch.statechange()});
        dispatch.on("statechange", update);
        var data = {};
        var args = {
            type: "GET",
            url: "/sensorimotordb/api/v1/unit_recording/?unit={{ object.id }}&limit=0&format=json",
            data: data,
            success: loadedUnitRecordingData,
            error: function() {
                //alert("Something went wrong!");
            } };
        $.ajax(args);
    }


    function loadedUnitRecordingData(resp)
    {
        $('.condition_list').each(function(index, element){
            $(this).empty();
        });

        var trial_condition_list=new Map();

        // Iterate through unit recordings
        for(var i=0; i<resp.objects.length; i++)
        {
            // Current unit recording
            var unit_recording=resp.objects[i];

            var recording_trial=recording_trial_map.get(unit_recording.trial);
            if(recording_trial!=null)
            {
                var condition=condition_map.get(recording_trial.condition);
                if(condition!=null)
                {
                    if(condition_ids.indexOf(condition.id)<0)
                    {
                        condition_ids.push(condition.id);
                        condition_names.push(condition.name);
                        conditions.set(condition.id, condition);
                        condition_trials.set(condition.id, []);
                        condition_trial_events.set(condition.id, []);
                        condition_trial_map.set(condition.id,[]);

                        $('.condition_list').each(function(index, element){
                            condition.level=3;
                            condition.idx=condition_ids.length-1;
                            var tmplMarkup = $('#condition-template').html();
                            var compiledTmpl = _.template(tmplMarkup, condition);
                            $(this).append(compiledTmpl);
                        });
                    }
                    if(condition_trial_map.get(condition.id).indexOf(recording_trial.id)<0)
                    {
                        condition_trial_map.get(condition.id).push(recording_trial.id);
                        var trial_number=recording_trial.trial_number;
                        var start_time=parseFloat(recording_trial.start_time);
                        condition_trial_events.get(condition.id).push({
                            t: start_time,
                            trial: trial_number,
                            name: 'start',
                            description: 'trial start'
                        });

                        for(var k=0; k<recording_trial.events.length; k++)
                        {
                            var event=recording_trial.events[k];
                            condition_trial_events.get(condition.id).push({
                                t: parseFloat(event.time),
                                trial: trial_number,
                                name: event.name,
                                description: event.description
                            });
                            if(event_types.indexOf(event.name)<0)
                                event_types.push(event.name);
                        }
                    }
                    var trial_number=recording_trial.trial_number;
                    var unit_data=[];
                    var spike_times=unit_recording.spike_times.split(',');
                    for(var k=0; k<spike_times.length; k++)
                    {
                        condition_trials.get(condition.id).push({
                            x: parseFloat(spike_times[k]),
                            y: trial_number
                        });
                    }
                }
                else
                    alert('Couldnt get condition!');
            }
            else
                alert('Couldnt get recording trial!');
        }

        var align_event = d3.select("#align_event").node().value;

        for(var i=0; i<condition_ids.length; i++)
        {
            var condition_id=condition_ids[i];
            realigned_condition_spikes.set(condition_id, realign_spikes(condition_trials.get(condition_id), condition_trial_events.get(condition_id), align_event));
            realigned_condition_trial_events.set(condition_id, realign_events(condition_trial_events.get(condition_id), align_event));

            var single_condition_trials=realigned_condition_spikes.get(condition_id);
            var single_condition_trial_events=realigned_condition_trial_events.get(condition_id);

            $('#condition-'+condition_id+'-plots').empty();
            drawRaster(condition_id, 'condition-'+condition_id+'-plots', single_condition_trials, single_condition_trial_events, event_types);

            drawHistogram(condition_id, 'condition-'+condition_id+'-plots', single_condition_trials, single_condition_trial_events, event_types);

            drawFiringRate(condition_id, 'condition-'+condition_id+'-plots', single_condition_trials, single_condition_trial_events, event_types);
        }
        $('#unit-{{ object.id }}-plots').empty();
        drawPopulationFiringRate('unit-{{ object.id }}-plots', realigned_condition_spikes, realigned_condition_trial_events, event_types, condition_ids, condition_names, 1.0);

    }

    function update()
    {
        var align_event = d3.select("#align_event").node().value;

        for(var i=0; i<condition_ids.length; i++)
        {
            var condition_id=condition_ids[i];
            realigned_condition_spikes.set(condition_id, realign_spikes(condition_trials.get(condition_id), condition_trial_events.get(condition_id), align_event));
            realigned_condition_trial_events.set(condition_id, realign_events(condition_trial_events.get(condition_id), align_event));
        }
        dispatch.realigned(realigned_condition_spikes, realigned_condition_trial_events);
    }

</script>
{% endblock %}
{% block content %}
    <div class="unit_info"></div>
    <h2>Conditions</h2>
    <div class="condition_list"></div>
{% include "sensorimotordb/unit/unit_template.html" %}
{% include "sensorimotordb/condition/condition_list_item_template.html" %}
{% endblock %}