.main {
    padding: 13px 0;
    font: 12px sans-serif;
    line-height: 1.5em;
    color: #333;
    background-color: #fff;
    width: 972px;
    margin: 0 auto;
    text-align: left;
}

.axis-label {
    font: 16px sans-serif;
}

.axis-tick-label {
    font: 10px sans-serif;
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
    stroke-width: 1.2px;
}

.histo-bar {
    fill: black;
    shape-rendering: crispEdges;
}

.raster circle {
    fill: gray;
}

.events circle {
    fill: gray;
    cursor: pointer;
}

.data-line {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

.focus text {
    font: 14px sans-serif;
}
.annotation-line {
    stroke: #000;
    stroke-opacity: 0.25;
    stroke-width: 1px;
    pointer-events: none;
}


.annotation-text {
    font-size: 16px;
    font-family: Arial;
    fill: #999;
    text-anchor: middle;
    cursor: pointer;
}