{% load staticfiles %}
<script type="text/html" id="condition-template">
    <div id="condition-<%= id %>" class="<%= getTRTag(idx) %>">
        <table>
            <tr>
                <td colspan="2"><a href="/sensorimotordb/condition/<%= id %>/"><h<%= level %>><%= name %></h<%= level %>></a></td>
            </tr>
            <tr>
                <td valign=top width="25%">
                    <table>
                        <tr>
                            <td valign=top><strong>Description</strong></td>
                            <td><%= description %></td>
                        </tr>
                        <tr>
                            <td valign=top><strong>Experiment</strong></td>
                            <td><a href="/sensorimotordb/experiment/<%= experiment.id %>/"><%= experiment.title %></a> (<%= experiment.collator.first_name %> <%= experiment.collator.last_name %>)</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div id="condition-<%= id %>-plots" style="float:left"><img src="{% static 'sensorimotordb/img/loading.gif' %}"></div>
                    <div id="condition-<%= id %>-plots_legend" class="legend"></div>
                    <button id="condition-<%= id %>-plots_generate">Save as SVG</button>
                </td>
            </tr>
        </table>
    </div>
</script>