{% extends "base.html" %}
{% load staticfiles %}
{% block extrahead %}
<title>SensoriMotorDB - View Condition: {{ object.name }}</title>
<link href="{% static 'sensorimotordb/js/video-js/video-js.min.css' %}" rel="stylesheet">
<link href="{% static 'sensorimotordb/js/videojs-markers/videojs.markers.min.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'sensorimotordb/js/jquery-1.10.1.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/underscore-min.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/neural_data_functions.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/neural_data_plot.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/video-js/video.dev.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/video-framebyframe.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/videojs.timecode.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/video-speed.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/videojs-markers/videojs-markers.js' %}"></script>
<script>

    videojs.options.flash.swf = "{{ site_url }}/static/sensorimotordb/js/video-js/video-js.swf";
    document.createElement('video');document.createElement('audio');document.createElement('track');

    $(document).ready(function(){
        $('<img src="{% static 'sensorimotordb/img/loading.gif' %}"/>');
        var data = {};
        var args = {
            type: "GET",
            url: "/sensorimotordb/api/v1/grasp_observation_condition/{{ object.id }}/?format=json",
            data: data,
            success: loadedConditionData,
            error: function(data) {
                //alert("Something went wrong!");
            } };
        $.ajax(args)
    });

    var condition_id={{ object.id }};

    // Map from unit IDs to unit labels
    var units=new Map();

    // Original spike and event data
    var orig_unit_data={
        // Mapping from unit ID to spikes
        'spikes': new Map(),
        // Mapping from unit ID to events
        'events': new Map()
    };

    // Realigned firing rate and event data
    var realigned_unit_data={
        // Mapping from unit ID to events
        'events': new Map(),
        // Mapping from unit ID firing rates
        'rate': new Map(),
        // Mapping from unit ID to spikes
        'spikes': new Map()
    };

    // List of all event types
    var event_types=['start'];

    // Plots
    var plots={
        unit_raster: new Map(),
        unit_histo: new Map(),
        unit_rate: new Map(),
        condition: null
    };

    /**
     * Loaded condition data
     * @param resp
     */
    function loadedConditionData(resp)
    {
        // Update video
        resp.video_url_mp4='{{ video_url_mp4 }}';

        // Add condition information template
        $('.condition_info').each(function(index, element){
            $(this).empty();
            var tmplMarkup = $('#grasp_observation_condition-template').html();
            var compiledTmpl = _.template(tmplMarkup, resp);
            $(this).append(compiledTmpl);
        });

        // Initialize video and event markers
        {% if video_url_mp4 %}
            var video = videojs("condition_video", {
                plugins: {
                    framebyframe: {
                        fps: 29.97,
                        steps: [
                            { text: '-5', step: -5 },
                            { text: '-1', step: -1 },
                            { text: '+1', step: 1 },
                            { text: '+5', step: 5 },
                        ]
                    },
                    speed: [
                        { text: '.25x', rate:.25 },
                        { text: '.5x', rate:.5, selected: true },
                        { text: '1x', rate: 1 },
                    ]
                }
            });
            video.markers({
                markerStyle: {
                    'width':'8px',
                    'background-color': 'red'
                },
                markerTip: {
                    text: function(marker) {
                        return "Event: "+ marker.text;
                    }
                },
                markers: [
                        {% for event in video_events%}
            {time: {{ event.time }}, text: "{{ event.code }}", overlayText: "{{ event.description }}"},
            {% endfor %}
        ],
            breakOverlay: {
                display: true,
                        text: function(marker){ return 'Event: ' + marker.overlayText;}
            }
        });
        videojs("condition_video").ready(function(){
            this.timecode({
                timeFormat: 'STANDARD'
            });
        });
        {% endif %}

        // Register for bin/kernel width changes
        d3.selectAll("#binwidth").on("change", function(){ dispatch.statechange()});
        d3.selectAll("#kernelwidth").on("change", function(){ dispatch.statechange()});
        dispatch.on("statechange", update);

        // Init unit list
        $('.unit_list').each(function(index, element){
            $(this).empty();
        });

        // Load recording trial data
        var args = {
            type: "GET",
            url: "/sensorimotordb/api/v1/full_recording_trial/?condition="+resp.id+"&limit=0&format=json",
            data: {},
            success: loadedRecordingTrialData,
            error: function(data) {
                //alert("Something went wrong!");
            } };
        $.ajax(args);
    }

    /**
     * Loaded recording trial data
     * @param resp
     */
    function loadedRecordingTrialData(resp)
    {
        // For each recording trial returned
        for(let recording_trial of resp.objects)
        {
            // Get trial number and start time
            var trial_number=recording_trial.trial_number;
            var start_time=parseFloat(recording_trial.start_time);

            // For each unit recording in this trial
            for(var unit_recording_idx=0; unit_recording_idx<recording_trial.unit_recordings.length; unit_recording_idx++)
            {
                var unit_recording=recording_trial.unit_recordings[unit_recording_idx];
                var unit=unit_recording.unit;

                // If this is the first instance of this unit
                if(!units.has(unit.id))
                {
                    // Add to list
                    units.set(unit.id, 'Subject '+unit.penetration.subject.subj_id+', Penetration '+unit.penetration.label+', Unit '+unit.label);

                    // Init
                    orig_unit_data.events.set(unit.id, []);
                    orig_unit_data.spikes.set(unit.id, []);

                    // Add template to list
                    $('.unit_list').each(function(index, element){
                        unit.level=3;
                        unit.idx=unit_recording_idx;
                        var tmplMarkup = $('#unit-template').html();
                        var compiledTmpl = _.template(tmplMarkup, unit);
                        $(this).append(compiledTmpl);
                    });

                    // Load unit data to get area
                    var args = {
                        type: "GET",
                        url: "/sensorimotordb/api/v1/unit/"+unit.id+"/?format=json",
                        data: {},
                        success: function(resp){
                            $('#unit-area-'+resp.id).append(resp.area.name);
                        },
                        error: function(data) {
                            //alert("Something went wrong!");
                        }
                    };
                    $.ajax(args);
                }

                // It event list with start event
                orig_unit_data.events.get(unit.id).push({
                    t: start_time,
                    trial: trial_number,
                    name: 'start',
                    description: 'trial start'
                });

                // Add other events
                for(let event of recording_trial.events)
                {
                    // Add event
                    orig_unit_data.events.get(unit.id).push({
                        t: parseFloat(event.time),
                        trial: trial_number,
                        name: event.name,
                        description: event.description
                    });

                    // Add to list of event types
                    if(event_types.indexOf(event.name)<0)
                        event_types.push(event.name);
                }

                // If there are any spikes
                if(unit_recording.spike_times.length>0)
                {
                    // Add spike times
                    var spike_times=unit_recording.spike_times.split(',');
                    for(let spike_time of spike_times)
                    {
                        orig_unit_data.spikes.get(unit.id).push({
                            x: parseFloat(spike_time),
                            y: trial_number
                        });
                    }
                }
            }
        }

        // Load more recording trials if there are more
        if(resp.meta.next!=null)
        {
            var data = {};
            var args = {
                type: "GET",
                url: resp.meta.next,
                data: data,
                success: loadedRecordingTrialData,
                error: function(data) {
                    //alert("Something went wrong!");
                } };
            $.ajax(args);
        }
        else
        {
            // Realign spikes and events and compute firing rates
            update_rates();

            // Create unit plots
            for(let unit_id of realigned_unit_data.rate.keys())
            {
                $('#unit-'+unit_id+'-plots').empty();
                var raster_svg=drawRaster('unit-'+unit_id+'-plots', realigned_unit_data.spikes.get(unit_id),
                        realigned_unit_data.events.get(unit_id), event_types);
                plots.unit_raster.set(unit_id, raster_svg);

                var histo_svg=drawHistogram('unit-'+unit_id+'-plots', realigned_unit_data.spikes.get(unit_id),
                        realigned_unit_data.events.get(unit_id), event_types);
                plots.unit_histo.set(unit_id, histo_svg);

                var rate_svg=drawFiringRate('unit-'+unit_id+'-plots', realigned_unit_data.rate.get(unit_id),
                        realigned_unit_data.events.get(unit_id), event_types);
                plots.unit_rate.set(unit_id, rate_svg);
            }

            // Create condition plot
            $('#condition-'+condition_id+'-plots').empty();
            plots.condition=drawPopulationFiringRate('condition-'+condition_id+'-plots', 'condition-'+condition_id+'-plots_legend',
                    realigned_unit_data.rate, realigned_unit_data.events, event_types, units, 1.0);
        }
    }

    /**
     * Realign spikes and events and compute firing rates
     */
    function update_rates()
    {
        var binwidth = parseInt(d3.select("#binwidth").node().value);
        var kernelwidth = parseInt(d3.select("#kernelwidth").node().value);
        var align_event = d3.select("#align_event").node().value;

        for(let unit_id of units.keys())
        {
            var realigned_spikes=realign_spikes(orig_unit_data.spikes.get(unit_id), orig_unit_data.events.get(unit_id),
                    align_event);
            var firing_rate=get_firing_rate(realigned_spikes, binwidth, kernelwidth);
            var realigned_events=realign_events(orig_unit_data.events.get(unit_id), align_event);

            realigned_unit_data.spikes.set(unit_id, realigned_spikes);
            realigned_unit_data.rate.set(unit_id, firing_rate);
            realigned_unit_data.events.set(unit_id, realigned_events);
        }
    }

    /**
     * Update plots
     */
    function update()
    {
        update_rates();
        for(let unit_id of units.keys())
        {
            plots.unit_raster.get(unit_id).update(realigned_unit_data.spikes.get(unit_id), realigned_unit_data.events.get(unit_id));
            plots.unit_histo.get(unit_id).update(realigned_unit_data.spikes.get(unit_id), realigned_unit_data.events.get(unit_id));
            plots.unit_rate.get(unit_id).update(realigned_unit_data.rate.get(unit_id), realigned_unit_data.events.get(unit_id));
        }
        plots.condition.update(realigned_unit_data.rate, realigned_unit_data.events);
    }

    /**
     * Delete condition
     * @param id
     */
    function deleteCondition(id)
    {
        if (confirm('Are you sure you want to delete this condition?')) {
            var data={'id':id, 'csrfmiddlewaretoken': '{{ csrf_token }}'};
            var args={
                type:"POST",
                url:'/sensorimotordb/condition/'+id+'/delete/',
                data: data,
                success: doneConditionDelete };
            $.ajax(args);
        }
    }

    /**
     * Finished deleting condition
     * @param data
     * @param status
     */
    function doneConditionDelete(data, status)
    {
        if(status=='success')
        {
            document.location.href='/sensorimotordb/experiment/{{ object.experiment.id }}';
        }
    }
</script>
{% endblock %}
{% block content %}
        <div class="condition_info"></div>
        <h2 style="clear: both">Unit Recordings</h2>
        <div class="unit_list"></div>
    {% include "sensorimotordb/condition/grasp_observation_condition_template.html" %}
    {% include "sensorimotordb/unit/unit_list_item_template.html" %}
{% endblock %}