{% extends "base.html" %}
{% load staticfiles %}
{% block extrahead %}
<title>SensoriMotorDB - View Condition: {{ object.name }}</title>
<link href="{% static 'sensorimotordb/js/video-js/video-js.min.css' %}" rel="stylesheet">
<link href="{% static 'sensorimotordb/js/videojs-markers/videojs.markers.min.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'sensorimotordb/js/jquery-1.10.1.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/underscore-min.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/neural_data_functions.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/neural_data_plot.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/video-js/video.dev.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/video-framebyframe.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/videojs.timecode.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/video-speed.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/videojs-markers/videojs-markers.js' %}"></script>
<script>

    videojs.options.flash.swf = "{{ site_url }}/static/sensorimotordb/js/video-js/video-js.swf";
    document.createElement('video');document.createElement('audio');document.createElement('track');

    $(document).ready(function(){
        $('<img src="{% static 'sensorimotordb/img/loading.gif' %}"/>');
        var data = {};
        var args = {
            type: "GET",
            url: "/sensorimotordb/api/v1/grasp_observation_condition/{{ object.id }}/?format=json",
            data: data,
            success: loadedConditionData,
            error: function(data) {
                //alert("Something went wrong!");
            } };
        $.ajax(args)
    });

    var condition_id={{ object.id }};
    var unit_ids=[];
    var unit_trials=new Map();
    var unit_trial_events=new Map();
    var realigned_unit_spikes=new Map();
    var realigned_unit_trial_events=new Map();

    function loadedConditionData(resp){
        resp.video_url_mp4='{{ video_url_mp4 }}';
        $('.condition_info').each(function(index, element){
            $(this).empty();
            var tmplMarkup = $('#grasp_observation_condition-template').html();
            var compiledTmpl = _.template(tmplMarkup, resp);
            $(this).append(compiledTmpl);
        });

        {% if video_url_mp4 %}
            var video = videojs("condition_video", {
                plugins: {
                    framebyframe: {
                        fps: 29.97,
                        steps: [
                            { text: '-5', step: -5 },
                            { text: '-1', step: -1 },
                            { text: '+1', step: 1 },
                            { text: '+5', step: 5 },
                        ]
                    },
                    speed: [
                        { text: '.25x', rate:.25 },
                        { text: '.5x', rate:.5, selected: true },
                        { text: '1x', rate: 1 },
                    ]
                }
            });
            video.markers({
                markerStyle: {
                    'width':'8px',
                    'background-color': 'red'
                },
                markerTip: {
                    text: function(marker) {
                        return "Event: "+ marker.text;
                    }
                },
                markers: [
                        {% for event in video_events%}
            {time: {{ event.time }}, text: "{{ event.code }}", overlayText: "{{ event.description }}"},
            {% endfor %}
        ],
            breakOverlay: {
                display: true,
                        text: function(marker){ return 'Event: ' + marker.overlayText;}
            }
        });
        videojs("condition_video").ready(function(){
            this.timecode({
                timeFormat: 'STANDARD'
            });
        });
        {% endif %}

        d3.selectAll("#binwidth").on("change", function(){ dispatch.statechange()});
        dispatch.on("statechange", update);

        $('.unit_list').each(function(index, element){
            $(this).empty();
        });

        var data = {};
        var args = {
            type: "GET",
            url: "/sensorimotordb/api/v1/full_recording_trial/?condition="+resp.id+"&limit=0&format=json",
            data: data,
            success: loadedRecordingTrialData,
            error: function(data) {
                //alert("Something went wrong!");
            } };
        $.ajax(args);
    }

    function loadedRecordingTrialData(resp)
    {
        var unit_labels=[];
        var units=new Map();
        var event_types=['start'];

        for(var i=0; i<resp.objects.length; i++)
        {
            var recording_trial=resp.objects[i];
            var trial_number=recording_trial.trial_number;
            var start_time=parseFloat(recording_trial.start_time);

            for(var j=0; j<recording_trial.unit_recordings.length; j++)
            {
                var unit_recording=recording_trial.unit_recordings[j];
                var unit=unit_recording.unit;

                if(unit_ids.indexOf(unit.id)<0)
                {
                    unit_ids.push(unit.id);
                    units.set(unit.id, unit);
                    unit_trials.set(unit.id,[]);
                    unit_trial_events.set(unit.id,[]);
                    unit_labels.push('Unit '+unit.id);
                    $('.unit_list').each(function(index, element){
                        unit.level=3;
                        unit.idx=i;
                        var tmplMarkup = $('#unit-template').html();
                        var compiledTmpl = _.template(tmplMarkup, unit);
                        $(this).append(compiledTmpl);
                    });
                }

                unit_trial_events.get(unit.id).push({
                    t: start_time,
                    trial: trial_number,
                    name: 'start',
                    description: 'trial start'
                });
                for(var k=0; k<recording_trial.events.length; k++)
                {
                    var event=recording_trial.events[k];
                    unit_trial_events.get(unit.id).push({
                        t: parseFloat(event.time),
                        trial: trial_number,
                        name: event.name,
                        description: event.description
                    });
                    if(event_types.indexOf(event.name)<0)
                        event_types.push(event.name);
                }

                var unit_data=[];
                var spike_times=unit_recording.spike_times.split(',');
                for(var k=0; k<spike_times.length; k++)
                {
                    unit_trials.get(unit.id).push({
                        x: parseFloat(spike_times[k]),
                        y: trial_number
                    });
                }
            }
        }

        var align_event = d3.select("#align_event").node().value;
        
        for(var i=0; i<unit_ids.length; i++)
        {
            var unit_id=unit_ids[i];

            realigned_unit_spikes.set(unit_id, realign_spikes(unit_trials.get(unit_id), unit_trial_events.get(unit_id), align_event));
            realigned_unit_trial_events.set(unit_id, realign_events(unit_trial_events.get(unit_id), align_event));
            
            var single_unit_trials=realigned_unit_spikes.get(unit_id);
            var single_unit_trial_events=realigned_unit_trial_events.get(unit_id);

            $('#unit-'+unit_id+'-plots').empty();
            drawRaster(unit_id, 'unit-'+unit_id+'-plots', single_unit_trials, single_unit_trial_events, event_types);

            drawHistogram(unit_id, 'unit-'+unit_id+'-plots', single_unit_trials, single_unit_trial_events, event_types);

            drawFiringRate(unit_id, 'unit-'+unit_id+'-plots', single_unit_trials, single_unit_trial_events, event_types);
        }
        $('#condition-'+condition_id+'-plots').empty();
        drawPopulationFiringRate('condition-'+condition_id+'-plots', realigned_unit_spikes, realigned_unit_trial_events, event_types, unit_ids, unit_labels, 1.0);
    }

    function update()
    {
        var align_event = d3.select("#align_event").node().value;
        for(var i=0; i<unit_ids.length; i++)
        {
            var unit_id=unit_ids[i];
            realigned_unit_spikes.set(unit_id, realign_spikes(unit_trials.get(unit_id), unit_trial_events.get(unit_id), align_event));
            realigned_unit_trial_events.set(unit_id, realign_events(unit_trial_events.get(unit_id), align_event));
        }
        dispatch.realigned(realigned_unit_spikes, realigned_unit_trial_events);
    }
</script>
{% endblock %}
{% block content %}
        <div class="condition_info"></div>
        <h2>Unit Recordings</h2>
        <div class="unit_list"></div>
    {% include "sensorimotordb/condition/grasp_observation_condition_template.html" %}
    {% include "sensorimotordb/unit/unit_list_item_template.html" %}
{% endblock %}