<script type="text/html" id="anova-template">
    <div id="id_anova-<%= id %>" class="<%= getTRTag(idx) %>">
        <table>
            <% if(edit){ %>
            <tr>
                <td rowspan="3">
                    <input type="button" value="Delete" onclick="return deleteAnova(<%= id %>);"/>
                </td>
            </tr>
            <% } %>
            <tr>
                <th><strong>Name</strong></th>
                <td><%= name %></td>
            </tr>
            <tr>
                <th><strong>Dependent variable</strong></th>
                <td><%= dependent_variable %></td>
            </tr>
            <tr>
                <td colspan="2">
                    <h3>Factors</h3>
                    <div id="id_anova-<%= id %>_factors">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</script>