{% extends "base.html" %}
{% load staticfiles %}
{% block extrahead %}
<title>SensoriMotorDB - View Classification Analysis: {{ object.name }}</title>
<script type="text/javascript" src="{% static 'sensorimotordb/js/jquery-1.10.1.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/underscore-min.js' %}"></script>
<script>

    $(document).ready(function(){
        $('<img src="{% static 'sensorimotordb/img/loading.gif' %}"/>');
        var data = {};
        var args = {
            type: "GET",
            url: "/sensorimotordb/api/v1/factor/?analysis={{ object.id }}&limit=0&format=json",
            data: data,
            success: loadedFactors,
            error: function(data) {
                //alert("Something went wrong!");
            } };
        $.ajax(args);
        var data = {};
        var args = {
            type: "GET",
            url: "/sensorimotordb/api/v1/unit_classification_type/?analysis={{ object.id }}&parent=None&limit=0&format=json",
            data: data,
            success: loadedClassificationTypes,
            error: function(data) {
                //alert("Something went wrong!");
            } };
        $.ajax(args);
    });

    function loadedFactors(resp){
        for(var idx=0; idx<resp.objects.length; idx++)
        {
            loadedFactor(resp.objects[idx]);
        }
    }

    function loadedFactor(resp){
        var tmplMarkup = $('#factor-template').html();
        var data={
            idx: $('#id_factors').children().length,
            id: resp.id,
            analysis_id: {{ object.id }},
            name: resp.name,
            type: resp.type
        };
        var compiledTmpl = _.template(tmplMarkup, data);
        $('#id_factors').append(compiledTmpl);

        for(var l_idx=0; l_idx<resp.levels.length; l_idx++)
        {
            var level=resp.levels[l_idx];
            var tmplMarkup = $('#factor_level-template').html();
            var data={
                idx: $('#id_factor-'+resp.id+'_levels').children().length,
                id: level.id,
                factor_id: resp.id,
                analysis_id: {{ object.id }},
                value: level.value
            };
            var compiledTmpl = _.template(tmplMarkup, data);
            $('#id_factor-'+resp.id+'_levels').append(compiledTmpl);
        }
    }

    function loadedClassificationTypes(resp){
        for(var idx=0; idx<resp.objects.length; idx++)
        {
            loadedClassificationType(resp.objects[idx]);
        }
    }

    function loadedClassificationType(resp){
        if(resp.parent==null)
        {
            var tmplMarkup = $('#classification_type-template').html();
            var data={
                idx: $('#id_classification_types').children().length,
                id: resp.id,
                label: resp.label,
                children: resp.children
            };
            var compiledTmpl = _.template(tmplMarkup, data);
            $('#id_classification_types').append(compiledTmpl);
        }
        else
        {
            var parent_id=parseInt(resp.parent.split('/')[5]);
            var tmplMarkup = $('#classification_type-template').html();
            var data={
                idx: $('#id_classification_type_'+parent_id+'_children').children().length,
                id: resp.id,
                label: resp.label,
                children: resp.children
            };
            var compiledTmpl = _.template(tmplMarkup, data);
            $('#id_classification_type_'+parent_id+'_children').append(compiledTmpl);
        }

        for(var idx=0; idx<resp.children.length; idx++)
        {
            var child=resp.children[idx];
            loadedClassificationType(child);
        }
    }

</script>
{% endblock %}
{% block content %}
<div class="classification_info">
    <h1>{{ object.name }}</h1>
    <div id="experiment-{{ object.id }}">
        <table>
            <tr>
                <td><strong>Description</strong></td>
                <td>{{ object.description }}</td>
            </tr>
        </table>
    </div>
</div>
<h2>Factors</h2>
<div id="id_factors"></div>
<h2>Unit Classification Types</h2>
<div id="id_classification_types"></div>
{% include "sensorimotordb/analysis/classification_analysis/factor_list_item_template.html" %}
{% include "sensorimotordb/analysis/classification_analysis/factor_level_list_item_template.html" %}
{% include "sensorimotordb/analysis/classification_analysis/classification_type_list_item_template.html" %}
{% endblock %}