<script type="text/html" id="classification_type-template">
    <div id="id_classification_type-<%= id %>" class="<%= getTRTag(idx) %>">
        <table>
            <tbody id="id_classification_type-<%= id %>_table">
                <tr>
                    <td><%= label %></td>
                </tr>
                <tr id="id_classification_type_<%= id %>_children_row">
                    <td>&nbsp;</td>
                    <td>
                        <div id="id_classification_type_<%= id %>_children" style="border:1px solid black;"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>
