{% extends "base.html" %}
{% load staticfiles %}
{% block extrahead %}
<title>SensoriMotorDB - View Classification Analysis: {{ object.name }}</title>
<script type="text/javascript" src="{% static 'sensorimotordb/js/jquery-1.10.1.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/underscore-min.js' %}"></script>
<script>

    $(document).ready(function(){
        $('<img src="{% static 'sensorimotordb/img/loading.gif' %}"/>');
        var data = {};
        var args = {
            type: "GET",
            url: "/sensorimotordb/api/v1/anova/?analysis={{ object.id }}&limit=0&format=json",
            data: data,
            success: loadedAnovas,
            error: function(data) {
                //alert("Something went wrong!");
            } };
        $.ajax(args);
        var data = {};
        var args = {
            type: "GET",
            url: "/sensorimotordb/api/v1/unit_classification_type/?analysis={{ object.id }}&parent=None&limit=0&format=json",
            data: data,
            success: loadedClassificationTypes,
            error: function(data) {
                //alert("Something went wrong!");
            } };
        $.ajax(args);
    });

    function loadedAnovas(resp){
        for(var idx=0; idx<resp.objects.length; idx++)
        {
            loadedAnova(resp.objects[idx]);
        }
    }

    function loadedAnova(resp){
        var tmplMarkup = $('#anova-template').html();
        var data={
            idx: $('#id_anovas').children().length,
            edit: false,
            id: resp.id,
            name: resp.name,
            dependent_variable: resp.dependent_variable
        };
        var compiledTmpl = _.template(tmplMarkup, data);
        $('#id_anovas').append(compiledTmpl);

        for(var f_idx=0; f_idx<resp.factors.length; f_idx++)
        {
            var factor=resp.factors[f_idx];
            var tmplMarkup = $('#anova_factor-template').html();
            var data={
                idx: $('#id_anova-'+resp.id+'_factors').children().length,
                id: factor.id,
                anova_id: resp.id,
                name: factor.name,
                type: factor.type
            };
            var compiledTmpl = _.template(tmplMarkup, data);
            $('#id_anova-'+resp.id+'_factors').append(compiledTmpl);

            for(var l_idx=0; l_idx<factor.levels.length; l_idx++)
            {
                var level=factor.levels[l_idx];
                var tmplMarkup = $('#anova_factor_level-template').html();
                var data={
                    idx: $('#id_anova-'+resp.id+'_factor-'+factor.id+'_levels').children().length,
                    id: level.id,
                    factor_id: factor.id,
                    anova_id: resp.id,
                    value: level.value
                };
                var compiledTmpl = _.template(tmplMarkup, data);
                $('#id_anova-'+resp.id+'_factor-'+factor.id+'_levels').append(compiledTmpl);
            }
        }
    }

    function loadedClassificationTypes(resp){
        for(var idx=0; idx<resp.objects.length; idx++)
        {
            loadedClassificationType(resp.objects[idx]);
        }
    }

    function loadedClassificationType(resp){
        if(resp.parent==null)
        {
            var tmplMarkup = $('#classification_type-template').html();
            var data={
                idx: $('#id_classification_types').children().length,
                id: resp.id,
                label: resp.label,
                children: resp.children
            };
            var compiledTmpl = _.template(tmplMarkup, data);
            $('#id_classification_types').append(compiledTmpl);
        }
        else
        {
            var parent_id=parseInt(resp.parent.split('/')[5]);
            var tmplMarkup = $('#classification_type-template').html();
            var data={
                idx: $('#id_classification_type_'+parent_id+'_children').children().length,
                id: resp.id,
                label: resp.label,
                children: resp.children
            };
            var compiledTmpl = _.template(tmplMarkup, data);
            $('#id_classification_type_'+parent_id+'_children').append(compiledTmpl);
        }

        for(var idx=0; idx<resp.children.length; idx++)
        {
            var child=resp.children[idx];
            loadedClassificationType(child);
        }

        for(var cond_idx=0; cond_idx<resp.conditions.length; cond_idx++)
        {
            var condition=resp.conditions[cond_idx];
            var comparisons=[];
            for (var cidx=0; cidx<condition.comparisons.length; cidx++)
                comparisons.push(condition.comparisons[cidx].id);

            var tmplMarkup = $('#classification_condition-template').html();
            var idx=$('#id_classification_type-'+resp.id+'_table').children().length-3;
            var data={
                type_id: resp.id,
                id: condition.id,
                comparisons: comparisons
            };
            var compiledTmpl = _.template(tmplMarkup, data);
            $('#id_classification_type-'+resp.id+'_table').append(compiledTmpl);
        }
    }

</script>
{% endblock %}
{% block content %}
<div class="classification_info">
    <h1>{{ object.name }}</h1>
    <div id="experiment-{{ object.id }}">
        <table>
            <tr>
                <td><strong>Description</strong></td>
                <td>{{ object.description }}</td>
            </tr>
            <tr>
                <td><strong>Multiple comparison correction</strong></td>
                <td>{{ object.multiple_comparison_correction }}</td>
            </tr>
        </table>
    </div>
</div>
<h2>ANOVAs</h2>
<div id="id_anovas"></div>
<h2>Unit Classification Types</h2>
<div id="id_classification_types"></div>
{% include "sensorimotordb/analysis/classification_analysis/anova_list_item_template.html" %}
{% include "sensorimotordb/analysis/classification_analysis/anova_factor_list_item_template.html" %}
{% include "sensorimotordb/analysis/classification_analysis/anova_factor_level_list_item_template.html" %}
{% include "sensorimotordb/analysis/classification_analysis/classification_type_list_item_template.html" %}
{% include "sensorimotordb/analysis/classification_analysis/classification_condition_list_item_template.html" %}
{% endblock %}