{% extends "base.html" %}
{% load staticfiles %}
{% block extrahead %}
<title>SensoriMotorDB - Create Classification Analysis ({{ wizard.steps.step1 }}/{{ wizard.steps.count }})</title>
{% endblock %}
{% block content %}
<h2>New Classification Analysis (Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}): Analysis creation</h2>
<form id="analysisForm" method="post" action="" enctype="multipart/form-data">
    {{ wizard.management_form }}
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <strong>{{ wizard.form.name.label_tag }}</strong>
            </td>
            <td colspan="3">
                {{ wizard.form.name }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>{{ wizard.form.description.label_tag }}</strong>
            </td>
            <td colspan="3">
                {{ wizard.form.description }}
            </td>
        </tr>
    </table>
    {{ wizard.form.id }}
    <input type="submit" value="Next" />
</form>
{% endblock %}
