{% extends "base.html" %}
{% load staticfiles %}
{% block extrahead %}
<title>SensoriMotorDB - Create Classification Analysis ({{ wizard.steps.step1 }}/{{ wizard.steps.count }})</title>
<script type="text/javascript" src="{% static 'sensorimotordb/js/jquery-1.10.1.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/underscore-min.js' %}"></script>
<script type="text/javascript">
</script>
{% endblock %}
{% block content %}
<h2>New Classification Analysis (Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}): Classification script</h2>
<form id="analysisForm" method="post" action="" enctype="multipart/form-data">
    {{ wizard.management_form }}
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <strong>Name</strong>
            </td>
            <td colspan="3">
                {{ analysis.name }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Description</strong>
            </td>
            <td colspan="3">
                {{ analysis.description }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Classification script</strong>
            </td>
            <td colspan="3">
                {{ wizard.form.script_file }}
            </td>
        </tr>
    </table>
    <input id="id_step4-id" maxlength="100" name="step4-id" type="hidden" value="{{ analysis.id }}"/>
    <input type="submit" value="Save"/>
</form>
{% endblock %}
