{% extends "base.html" %}
{% load staticfiles %}
{% block extrahead %}
<title>SensoriMotorDB - Create Classification Analysis ({{ wizard.steps.step1 }}/{{ wizard.steps.count }})</title>
<script type="text/javascript" src="{% static 'sensorimotordb/js/jquery-1.10.1.js' %}"></script>
<script type="text/javascript" src="{% static 'sensorimotordb/js/underscore-min.js' %}"></script>
<script type="text/javascript">

    var numFactors=0;

    function addFactor()
    {
        var tmplMarkup = $('#factor-template').html();
        var data={
            idx: $('#id_factors').children().length,
            analysis_id: '',
            id: ''
        };
        var compiledTmpl = _.template(tmplMarkup, data);
        $('#id_factors').append(compiledTmpl);
        $('#id_factor-TOTAL_FORMS').val(parseInt($('#id_factor-TOTAL_FORMS').val())+1);
        numFactors=numFactors+1;
        if(numFactors>=3)
        {
            $('#id_add_factor').prop('disabled',true);
        }
    }

    function removeFactor(factor_idx)
    {
        $('#id_factor-'+factor_idx).hide();
        $('#id_factor-'+factor_idx+'-DELETE').val(true);
        numFactors=numFactors-1;
        $('#id_add_factor').prop('disabled',false);
    }

    function addFactorLevel(factor_idx)
    {
        var tmplMarkup = $('#factor_level-template').html();
        var data={
            factor_idx: factor_idx,
            idx: $('#id_factor-'+factor_idx+'_levels').children().length,
            factor_id: '',
            id: ''
        }
        var compiledTmpl = _.template(tmplMarkup, data);
        $('#id_factor-'+factor_idx+'_levels').append(compiledTmpl);
        $('#id_factor-'+factor_idx+'-factor_levels-TOTAL_FORMS').val(parseInt($('#id_factor-'+factor_idx+'-factor_levels-TOTAL_FORMS').val())+1);
    }

    function removeFactorLevel(factor_idx, level_idx)
    {
        $('#id_factor-'+factor_idx+'_level-'+level_idx).hide();
        $('#id_factor-'+factor_idx+'-factor_levels-'+level_idx+'-DELETE').val(true);
    }
</script>
{% endblock %}
{% block content %}
<h2>New Classification Analysis (Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}): Factor definition</h2>
<form id="analysisForm" method="post" action="" enctype="multipart/form-data">
    {{ wizard.management_form }}
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <strong>Name</strong>
            </td>
            <td colspan="3">
                {{ analysis.name }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Description</strong>
            </td>
            <td colspan="3">
                {{ analysis.description }}
            </td>
        </tr>
    </table>
    <input id="id_step2-id" maxlength="100" name="step2-id" type="hidden" value="{{ analysis.id }}"/>
    <h2>Factors <input id="id_add_factor" type="button" onclick="return addFactor();" value="Add"/></h2>
    {{ factor_level_formset.management_form }}
    <div id="id_factors">
    </div>
    <input type="submit" value="Next" />
</form>
{% include "sensorimotordb/analysis/classification_analysis/factor_list_item_edit_template.html" %}
{% include "sensorimotordb/analysis/classification_analysis/factor_level_list_item_edit_template.html" %}

{% endblock %}
