<script type="text/html" id="classification_condition-template">
    <tr id="id_classification_type-<%= type_idx %>_condition-<%= idx %>">
        <td>&nbsp;</td>
        <td>
            <input type="button" value="Delete" onclick="deleteClassificationCondition(<%= type_idx %>, <%= idx %>, '<%= id %>')"/>
            <input id="id_classification_type-<%= type_idx %>-unit_classification_type_conditions-<%= idx %>-DELETE" name="classification_type-<%= type_idx %>-unit_classification_type_conditions-<%= idx %>-DELETE" type="hidden" />
            <input id="id_classification_type-<%= type_idx %>-unit_classification_type_conditions-<%= idx %>-classification_type" name="classification_type-<%= type_idx %>-unit_classification_type_conditions-<%= idx %>-classification_type" type="hidden" value="<%= type_id %>"/>
            <input id="id_classification_type-<%= type_idx %>-unit_classification_type_conditions-<%= idx %>-id" name="classification_type-<%= type_idx %>-unit_classification_type_conditions-<%= idx %>-id" type="hidden" value="<%= id %>"/>
        </td>
        {% for comparison in anova_comparisons %}
            <td>
                <input id="id_classification_type-<%= type_idx %>-unit_classification_type_conditions-<%= idx %>-comparisons_{{ forloop.counter0 }}" name="classification_type-<%= type_idx %>-unit_classification_type_conditions-<%= idx %>-comparisons" type="checkbox" value="{{ comparison.id }}" <% if(comparisons.indexOf({{ comparison.id }})>-1){%> checked=true<% } %>/>
            </td>
        {% endfor %}
    </tr>
</script>