<script type="text/html" id="classification_type-template">
    <div id="id_classification_type-<%= id %>" class="<%= getTRTag(idx) %>">
        <table>
            <tbody id="id_classification_type-<%= id %>_table">
                <tr>
                    <td><strong>Label:</strong></td>
                    <td><%= label %></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <div id="id_classification_type_<%= id %>_children">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>
