<script type="text/html" id="factor-template">
    <div id="id_factor-<%= id %>" class="<%= getTRTag(idx) %>">
        <table>
            <tr>
                <td>&nbsp;</td>
                <th><strong>Name</strong></th>
                <td><%= name %></td>
                <th><strong>Type</strong></th>
                <td><%= type %></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">
                    <h4>Levels</h4>
                    <div id="id_factor-<%= id %>_levels" class="<%= getTRTag(idx) %>">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</script>