{% extends "base.html" %}
{% load staticfiles %}
{% block extrahead %}
<title>SensoriMotorDB</title>
{% endblock %}
{% block content %}
<h2><a href="/sensorimotordb/search/">Search</a></h2>
<h2><a href="/sensorimotordb/import/">Import</a></h2>
<h2><a href="/sensorimotordb/analysis/">Analysis Types</a></h2>
<br><br>
Development and support of this Website is based in part upon work supported by the National Science Foundation under Grants No. 0924674 and BCS-1343544, “INSPIRE Track 1: Action, Vision and Language, and their Brain Mechanisms in Evolutionary Relationship,” (Michael A. Arbib, Principal Investigator).

<br>Neuroinformatics Architect and Software Engineer: James Bonaiuto

{% endblock %}